<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% if request.session.language == '1' %}
    <title>Saydnur Shrinliklari</title>
    {% else %}
    <title>Сладости от Сайднур</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static './assets/favicon_io (6)/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './assets/favicon_io (6)/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './assets/favicon_io (6)/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static './assets/favicon_io (6)/site.webmanifest' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Yummy
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <!--    for language-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <img src="{{ general.logo.url }}" alt="logo">
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#chefs">Chefs</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li></li>
                    <li></li>


                    <li class="nav-item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                {% if request.session.language == '1' %}
                                UZ
                                {% else %}
                                RU
                                {% endif %}
                            </button>

                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">
                                    {% if request.session.language == '1' %}
                                    <a style="color: black" href="?language=2">RU</a>
                                    {% else %}
                                    <a style="color: black" href="?language=1">UZ</a>
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Mobile Nav Toggle -->
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="index.html#book-a-table">Place order</a>

        </div>
    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section light-background">

            <div class="container">
                <div class="row gy-4 justify-content-center justify-content-lg-between">
                    <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        {% if request.session.language == '1' %}
                        <h1 data-aos="fade-up">Mazali va rohatlanarli <br> soglom shirinlik </h1>
                        <p data-aos="fade-up" data-aos-delay="100">Tabiiy va mukammal shirinilik
                        </p>
                        {% else %}
                        <h1 data-aos="fade-up">Вкусные и полезные сладости.</h1>
                        <p data-aos="fade-up" data-aos-delay="100">Натуральные и совершенные сладости.
                        </p>
                        {% endif %}
                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                            <a href="#book-a-table" class="btn-get-started">Place an order</a>
                            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
                                class="glightbox btn-watch-video d-flex align-items-center"><i
                                    class="bi bi-play-circle"></i><span>Watch
                                    Video</span></a>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                        <img src="{% static './assets/img/Снимок экрана (21).png' %}" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>

        </section>

        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                {% if request.session.language == '1' %}
                <h2>Biz haqimizda <br></h2>
                <p><span class="description-title">Biz haqimizda </span><span>koproq malumot</span></p>
                {% else %}
                <h2>О нас <br></h2>
                <p><span>Больше информации </span> <span class="description-title">о нас.</span></p>
                {% endif %}
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                        <img src="{{ general.banner.url }}" class="img-fluid mb-4" alt="">
                        <div class="book-a-table">
                            <h3>Place order</h3>
                            <p>{{ general.phone_number }}</p>
                        </div>
                    </div>
                    <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                        <div class="content ps-0 ps-lg-5">
                            {% if request.session.language == '1' %}
                            <p class="fst-italic">
                                Saydnur Shirinliklariga xush kelibsiz! Muhabbat va e’tibor bilan tayyorlangan lazzatli
                                shirinliklar manzilimiz. Eng mazali ta’mlarni sizga yetkazish ishtiyoqi bilan tashkil
                                etilganmiz.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> <span> Bizning maqsadimiz – har bir
                                        lahzani unutilmas qilish uchun shirin onlarni yaratish.</span>
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> <span> Maxsus tadbirni nishonlayapsizmi
                                        yoki shunchaki shirinlikka ishtiyoq sezayapsizmi, bizning mahsulotlarimiz har
                                        bir didga mos kelishi uchun yaratilgan.</span>
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> <span> Anʼanaviy noz-neʼmatlardan
                                        zamonaviy shirinliklargacha, biz eng sara masalliqlardan tayyorlangan turli xil
                                        desertlarni taklif qilamiz. </span>
                                </li>
                            </ul>
                            <p> Saydnur Shirinliklarida biz har bir desert o‘z hikoyasini aytishiga ishonamiz va sizni
                                aynan siz uchun yaratgan mazali sayohatimizga sho‘ng‘ishga taklif qilamiz! </p>
                            {% else %}
                            <p class="fst-italic"> Добро пожаловать в Saydnur Shirinliklari! Наша кондитерская, где мы
                                готовим вкусные сладости с любовью и вниманием. Мы созданы с желанием доставить вам
                                самые
                                вкусные сладости.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> <span> Наша цель — создавать сладкие
                                        моменты, которые сделают каждую минуту незабываемой.</span>
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> <span> Отмечаете ли вы специальное
                                        событие или просто хотите что-то сладкое, наши изделия созданы, чтобы
                                        удовлетворить любой вкус.</span>
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> <span> От традиционных лакомств до
                                        современных сладостей, мы предлагаем разнообразные десерты, приготовленные из
                                        лучших ингредиентов.</span>
                                </li>
                            </ul>
                            <p> В Saydnur Shirinliklari мы верим, что каждый десерт рассказывает свою историю, и
                                приглашаем вас погрузиться в вкусное путешествие, созданное специально для вас!</p>
                            {% endif %}
                            <div class="position-relative mt-4">
                                <img src="{{ general.video_url }}" class="img-fluid" alt="">
                                <a href="{{ general.video_url }}" class="glightbox pulsating-play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->

        <!-- Why Us Section -->
        <section id="why-us" class="why-us section light-background">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="why-box">
                            <h3>{{ about_1.name }}</h3>
                            <p>{{ about_1.description }}</p>
                            <div class="text-center">
                                <a href="#" class="more-btn"><span>Learn More</span> <i
                                        class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Why Box -->

                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                            <div class="col-xl-4">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4>{{ about_2.name }}</h4>
                                    <p>{{ about_2.description }}</p>
                                </div>
                            </div><!-- End Icon Box -->
                            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-gem"></i>
                                    <h4>{{ about_3.name }}</h4>
                                    <p>{{ about_3.description }}</p>
                                </div>
                            </div><!-- End Icon Box -->
                            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-inboxes"></i>
                                    <h4>{{ about_4.name }}</h4>
                                    <p>{{ about_4.description }}</p>
                                </div>
                            </div><!-- End Icon Box -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Why Us Section -->

        <!-- Stats Section -->
        <section id="stats" class="stats section dark-background">
            <img src="{% static './assets/img/Снимок экрана (21).png' %}" alt="" data-aos="fade-in">
            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Clients</p>
                        </div>
                    </div>
                    <!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div>
                    <!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div>
                    <!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Workers</p>
                        </div>
                    </div>
                    <!-- End Stats Item -->
                </div>
            </div>
        </section><!-- /Stats Section -->

        <!-- Menu Section -->
        <section id="menu" class="menu section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                {% if request.session.language == '1' %}
                <h2>Bizning Mahsulotlar</h2>
                <p><span class="description-title">Bizning</span><span>Mahsulotlarni korish</span></p>
                {% else %}
                <h2>Наши продукты</h2>
                <p><span>Смотреть</span><span class="description-title">наши продукты</span></p>
                {% endif %}
            </div><!-- End Section Title -->

            <div class="container">

                <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                            <h4>{{categories_1.name}}</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                            <h4>{{categories_2.name}}</h4>
                        </a><!-- End tab nav item -->

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                            <h4>{{categories_3.name}}</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                            <h4>{{categories_4.name}}</h4>
                        </a>
                    </li><!-- End tab nav item -->

                </ul>

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane fade active show" id="menu-starters">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Starters</h3>
                        </div>

                        <div class="row gy-5">
                            {% for product in categories_1_products %}
                            <div class="col-lg-4 menu-item">
                                <a href="{{ product.image.url }}" class="glightbox"><img src="{{ product.image.url }}"
                                        class="menu-img img-fluid" alt=""></a>
                                <h4>{{ product.name }}</h4>
                                <p class="ingredients">
                                    {{ product.description }}
                                </p>
                                <p class="price">
                                    ${{ product.price }}
                                </p>
                            </div><!-- Menu Item -->
                            {% endfor %}
                        </div>
                    </div><!-- End Starter Menu Content -->

                    <div class="tab-pane fade" id="menu-breakfast">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Breakfast</h3>
                        </div>

                        <div class="row gy-5">

                            {% for product in categories_2_products %}
                            <div class="col-lg-4 menu-item">
                                <a href="{{ product.image.url }}" class="glightbox"><img src="{{ product.image.url }}"
                                        class="menu-img img-fluid" alt=""></a>
                                <h4>{{ product.name }}</h4>
                                <p class="ingredients">
                                    {{ product.description }}
                                </p>
                                <p class="price">
                                    ${{ product.price }}
                                </p>
                            </div><!-- Menu Item -->
                            {% endfor %}

                        </div>
                    </div><!-- End Breakfast Menu Content -->

                    <div class="tab-pane fade" id="menu-lunch">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Lunch</h3>
                        </div>

                        <div class="row gy-5">

                            {% for product in categories_3_products %}
                            <div class="col-lg-4 menu-item">
                                <a href="{{ product.image.url }}" class="glightbox"><img src="{{ product.image.url }}"
                                        class="menu-img img-fluid" alt=""></a>
                                <h4>{{ product.name }}</h4>
                                <p class="ingredients">
                                    {{ product.description }}
                                </p>
                                <p class="price">
                                    ${{ product.price }}
                                </p>
                            </div><!-- Menu Item -->
                            {% endfor %}

                        </div>
                    </div><!-- End Lunch Menu Content -->

                    <div class="tab-pane fade" id="menu-dinner">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Dinner</h3>
                        </div>

                        <div class="row gy-5">

                            {% for product in categories_4_products %}
                            <div class="col-lg-4 menu-item">
                                <a href="{{ product.image.url }}" class="glightbox"><img src="{{ product.image.url }}"
                                        class="menu-img img-fluid" alt=""></a>
                                <h4>{{ product.name }}</h4>
                                <p class="ingredients">
                                    {{ product.description }}
                                </p>
                                <p class="price">
                                    ${{ product.price }}
                                </p>
                            </div><!-- Menu Item -->
                            {% endfor %}

                        </div>
                    </div><!-- End Dinner Menu Content -->

                </div>

            </div>

        </section><!-- /Menu Section -->

        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                {% if request.session.language == '1' %}
                <h2>Mijozlar Fikrlari</h2>
                <p>Biz haqimizda <span class="description-title">Fikrlar</span></p>
                {% else %}
                <h2>Отзывы клиентов</h2>
                <p><span class="description-title">Отзывы</span> о нас</p>
                {% endif %}
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        }
                    }
                </script>
                    <div class="swiper-wrapper">
                        {% for customer_opinion in customer_opinions %}
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="row gy-4 justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="testimonial-content">
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>{{ customer_opinion.description }}</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                            <h3>{{ customer_opinion.name }}</h3>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <img src="{{ customer_opinion.image.url }}" class="img-fluid testimonial-img"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Testimonials Section -->

        <!-- Events Section -->
        <section id="events" class="events section">

            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 1,
                                "spaceBetween": 40
                            },
                            "1200": {
                                "slidesPerView": 3,
                                "spaceBetween": 1
                            }
                        }
                    }
                </script>
                    <div class="swiper-wrapper">
                        {% for additional_advertising in additional_advertisings %}
                        <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                            style="background-image: url({{ additional_advertising.image.url }})">
                            <h3>{{ additional_advertising.name }}</h3>
                            <div class="price align-self-start">${{ additional_advertising.price }}</div>
                            <p class="description">{{ additional_advertising.description }}</p>
                        </div><!-- End Event item -->
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Events Section -->

        <!-- Chefs Section -->
        <!-- <section id="chefs" class="chefs section">

      <div class="container section-title" data-aos="fade-up">
        <h2>chefs</h2>
        <p><span>Our</span> <span class="description-title">Proffesional Chefs<br></span></p>
      </div>
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Master Chef</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                  exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Patissier</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                  Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cook</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                  architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --> <!-- / Chefs Section -->


        <!-- Gallery Section -->
        <section id="gallery" class="gallery section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                {% if request.session.language == '1' %}
                <h2>Galereya</h2>
                <p><span class="description-title">Bizning Galereyamizni</span> <span>ko‘rib chiqing</span></p>
                {% else %}
                <h2>Галерея</h2>
                <p><span>Посмотрите</span> <span class="description-title">нашу галерею!</span></p>
                {% endif %}
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "centeredSlides": true,
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 1,
                                "spaceBetween": 0
                            },
                            "768": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "1200": {
                                "slidesPerView": 5,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                    <div class="swiper-wrapper align-items-center">
                        {% for all_product in all_products %}
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                href="{{ all_product.image.url }}"><img src="{{ all_product.image.url }}"
                                    class="img-fluid" alt=""></a></div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Gallery Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                {% if request.session.language == '1' %}
                <h2>Biz haqimizda Malumot</h2>
                <p><span>Yordam kerakmi?</span> <span class="description-title">Biz bilan boglaning</span></p>
                {% else %}
                <h2>Информация о нас</h2>
                <p><span>Нужна помощь?</span> <span class="description-title">Свяжитесь с нами!</span></p>
                {% endif %}
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="mb-5">
                    <iframe style="width: 100%; height: 400px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" allowfullscreen=""></iframe>
                </div><!-- End Google Maps -->

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>{{general.city}}, {{general.address}}</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>{{general.phone_number}}</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>{{general.email}}</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                            <i class="icon bi bi-clock flex-shrink-0"></i>
                            <div>
                                <h3>Opening Hours<br></h3>
                                <p>
                                    <strong>{{general.get_work_start_day_display}}-{{general.get_work_end_day_display}}:</strong>
                                    {{general.work_start_time}} AM - {{general.work_end_time}} PM
                                </p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <form action="{% url 'create_order' %}" method="post" class="php-email-form" data-aos="fade-up"
                    data-aos-delay="600">
                    {% csrf_token %}
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="text" value="+998" class="form-control" name="phone_number"
                                placeholder="Your Number" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="product_name" placeholder="Product Name"
                                required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="address" rows="6" placeholder="Message and address"
                                required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form><!-- End Contact Form -->

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer dark-background">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div class="address">
                        <h4>Address</h4>
                        <p>{{ general.city }}</p>
                        <p>{{ general.address }}</p>
                        <p></p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Contact</h4>
                        <p>
                            <strong>Phone:</strong> <span>{{ general.phone_number }}</span><br>
                            <strong>Email:</strong> <span>{{ general.email }}</span><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                            <strong>{{general.get_work_start_day_display}}-{{general.get_work_end_day_display}}:</strong>
                            <span>{{general.work_start_time}}AM - {{general.work_end_time}}PM</span><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Saydnur</strong> <span>All Rights Reserved</span>
            </p>
            <div class="credits">
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!--for language-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>